.post {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.title {
    width: 270px;
}
.post__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 2px solid teal;
    padding: 10px;
    width: 700px;
}

.disc {
    display: flex;
    align-items:center;
    margin-left: 80px;
    margin-right: 50px;
    width: 30vh;
}

.btn{ 
    height: 35px;
    background: transparent;
    margin-top: 10px;
    border-color: aqua;
    cursor: pointer;
}